:root {
  --main-color: rgb(134, 134, 252);
  --comp-color: rgb(152, 252, 34);
  --button-radius: 5px;
}


.listsContainer{
  padding-top: 25px;
}

.container {
  display: grid;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  padding-top: 50px;
}
}

/* ----- Image section -----  */

#image-container {
    z-index: 1;
  }

  img {
    z-index: 1000;
  }

  button {
    color: var(--main-color);
    font-size: 1rem!important;
    background: white;
    padding: 5px 0;
    border: 1px solid var(--main-color);
    border-radius: var(--button-radius)!important;
    transition: all .2s ease-in-out; 
  }

  button:hover {
    color: white;
    font-size: 3rem!important;
    padding: 5px 0;
    background: var(--main-color);
    border: 1px solid var(--comp-color);
    border-radius: var(--button-radius); 
    transform: scale(0.7);
   }



  /* ----- Carousel of images ----- */
  #carousel {
    display: none;
  }
  .carouselImage {
    height: 150px;
    width: auto;
    margin: 15px;
  }